

.page-intro {
    background-color: white;
    width: 100vw;
    min-height: 100vh;
  }
  
  img {
    max-width: 80%;
  }
  
  .mdb-page-content {
    padding-left: 240px;
    transition: padding 0.3s linear;
  }
  
  #toggler {
    display: none;
  }
  
  @media (max-width: 660px) {
    .mdb-page-content {
      padding-left: 0px;
    }
  
    #toggler {
      display: unset;
    }
  
    .mask img {
      width: 100%;
    }
  
    .sidenav[data-mdb-hidden='false'] {
      transform: translateX(-100%);
    }
  }