<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Contact us||Local connect</title>
    <link rel="shortcut icon" href="static/images/icon2.jpg" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/cu.css')}}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <header>
    <nav>
        <div class="left">LocalConnect.</div>
        <div class="right">
            <ul>
                
                

            </ul>
        </div>
    </nav>
</header>
<main>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Valhalla</div>
          <div class="text-two">Palghar</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">9833445467</div>
          
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">localconnect@gmail.com</div>
          
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Send us a message</div>
        <p>If you have any work from me or any types of quries related the services we provide, you can send us message from here. It'll be our pleasure to help you.</p>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box">
            <input type="text" placeholder="Message">
          </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <a href="/">
            <input type="button" value="Send Now">
        </a>
        </div>
      </form>
    </div>
    </div>
  </div>
</main>
</body>
</html>